$base-size: 4px;
$base-rounded: $base-size;

$multiplierSize: 1.5;
$multiplierFontSize: 1.1;

$size: (
  small: 14px,
  medium: 16px,
  large: 18px,
);

$font-size: (
  s1: 12px,
  s2: 14px,
  s3: 16px,
  m1: 20px,
  m2: 24px,
  m3: 28px,
  l1: 32px,
  l2: 40px,
  l3: 48px,
);

$spacing: (
  small_4x: $base-size,
  small_3x: calc($base-size * 2),
  small_2x: calc($base-size * 3),
  small_x: calc($base-size * 4),
  small: calc($base-size * 6),
  medium: calc($base-size * 8),
  large: calc($base-size * 10),
  large_x: calc($base-size * 12),
  large_2x: calc($base-size * 16),
  large_3x: calc($base-size * 24),
);

$z-index: (
  base: 10,
  drop: 100,
  overlay: 1000,
  global: 10000,
);

$base: (
  main: #1b1b1b,
  contrast: #ffffff,
);

$neutral: (
  140: #373737,
  120: #4f4f4f,
  100: #707070,
  80: #b1b0b0,
  60: #c8c8c8,
  40: #d5d5d6,
  20: #e3e3e3,
  10: #f1f1f1,
);

$primary: (
  140: #263588,
  120: #2e3f9e,
  100: #3f51b5,
  80: #5b6ed7,
  60: #8192ea,
  40: #a3b0f3,
  30: #c0c9fc,
  20: #d4dafe,
  10: #ecf1ff,
);

$secondary: (
  140: #b20060,
  120: #db0076,
  100: #ff0089,
  80: #fb60b3,
  60: #fb7cc0,
  40: #fea0d2,
  20: #fecded,
  10: #ffe7f7,
);

$error: (
  140: #a90e0e,
  120: #d41212,
  100: #ed2b2b,
  80: #f65151,
  60: #f86f6f,
  40: #ffacac,
  20: #fecdcd,
  10: #ffebeb,
);

$success: (
  140: #0d7d32,
  120: #0e953b,
  100: #0fb345,
  60: #22a94f,
  80: #3bc067,
  40: #81e49a,
  20: #bfefcf,
  10: #e3fceb,
);

$warning: (
  140: #bd5b00,
  120: #e06e06,
  100: #f38816,
  80: #f79b45,
  60: #f9ac65,
  40: #fcca92,
  20: #ffe4c0,
  10: #fef2e1,
);

$special: (
  focused: #00b2fe,
  120: #019da6,
  40: #2dc9d2,
  20: #b5ecf0,
  modal: #000000b2,
);
