@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-with-gap($direction, $justify, $align, $gap) {
  @include flex($direction, $justify, $align);
  gap: $gap;
}
